body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.right-side{
	height: 90%;
}

.content {
  width: 100%; 
  height: 90%;
  padding: 0px;
}

/*Format map*/
.map{		
	height: 100%;
	width: 100%;
}

.logo img{
	width: 115px;
	margin-bottom:5px;
	/*margin-right: 25px;*/
}

.logo span{font-size: 10px; font-family: sans-serif;}

.header h1.title{
	font-size: 1.3em;
	color: #fff;
	margin: 15px 0px;
	margin-left: 20px;
	/*border: solid 1px #f00;*/
	float: left;
}

@media screen and (max-width: 480px) {
	.header h1.title{
		font-size: 0.9em;
		margin-left: 10%;
		text-align: center;
	}
}

.cluster{
	color:#FFF;
	text-align:center;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	text-shadow:0 0 2px #000;
	-moz-text-shadow:0 0 2px #000;
	-webkit-text-shadow:0 0 2px #000
}

.cluster-1{
	background:url(../img/clusters/images/m1.png) no-repeat;
	line-height:50px;
	width:50px;
	height:40px
}

.cluster-2{
	background:url(../img/clusters/images/m2.png) no-repeat;
	line-height:53px;
	width:60px;
	height:48px
}

.cluster-3{
	background:url(../img/clusters/images/m3.png) no-repeat;
	line-height:66px;
	width:70px;
	height:56px
}

.right-side > .content-header{	
	padding: 11px 15px 10px 20px;
}

.right-side > .content-header > .breadcrumb{
	top: 8px;
}

.config-btn{
	position: fixed;
	top: 150px;
	right: 200px;
	background-color: rgba(0, 0, 0, 0.701961);
	border-top-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 5px;
	padding: 10px 15px;
	font-size: 16px;
	z-index: 999999;
	cursor: pointer;
	color: rgb(221, 221, 221);
}
.config-box{
	padding: 10px;
	position: fixed;
	top: 130px;
	right: 0px;
	background-color: rgb(255, 255, 255);
	border: 3px solid rgba(0, 0, 0, 0.701961);
	width: 200px;
	z-index: 999999;
	height: 400px;
	background-position: initial initial;
	background-repeat: initial initial;
	overflow: scroll;
}

.config-box h4{
	margin: 0 0 5px 0;
	border-bottom: 1px dashed #ddd;
	padding-bottom: 3px;
}
.config-box h3{ 
	margin: 0; 
	padding: 0;	
}

.chosen-container-multi .chosen-choices li.search-choice{margin:3px;}

.show-blind
{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
